<div class="row">
  <div class="col-6">
    <%= form_with(model: task) do |f| %>

      
      <div class="mb-3">
        <%= f.label :status, 'ステータス' %>
        <%= f.text_field :status, class: 'form-control' %>
      </div>
    
      <div class="mb-3">
        <%= f.label :content, 'タスク' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>
      
      <%= f.submit '投稿', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>