<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @task) do |f| %>
        <div class="mb-3">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary w-100' %>
      <% end %>
    </aside>
    <div class="col-sm-8">
      <%= render 'tasks/tasks', tasks: @tasks %>
    </div>
  </div>
<% else %>
  <div class="bg-secondary p-3 p-sm-5 my-4 rounded">
    <div class="text-center text-white">
      <h1>Welcome to Tasklist</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>

<h1>タスク一覧</h1>

<% if @tasks.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>ステータス</th>
        <th>タスク</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.id, task %></td>
          <td><%= task.status %></td>
          <td><%= task.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<%= link_to '新規タスク作成', tasks_path, class: "btn btn-primary" %>

